<div class="container" *ngIf="!loader">
  <div
    *ngFor="
      let pokemon of pokemons
        | slice : startElement : startElement + 21
        | filterPokemon : (searchValue$ | async)
    "
    style="max-height: 145px"
  >
    <pokemon-card
      [pokemon]="pokemon"
      [activePokemon]="activePokemon"
      (clickFunc)="setIndex($event)"
      (click)="setActive(pokemon.name)"
    ></pokemon-card>
  </div>
</div>

<div class="container" *ngIf="loader">
  <ng-container *ngTemplateOutlet="skeleton"></ng-container>
</div>

<p-paginator
  (onPageChange)="paginate($event)"
  [rows]="21"
  [totalRecords]="pokemons.length"
></p-paginator>

<ng-template #skeleton>
  <div style="display: flex; flex-direction: column" *multipleRender="21">
    <p-skeleton width="70px" height="70px" borderRadius="50%" styleClass="round"></p-skeleton>
    <p-skeleton width="17rem" height="145px"></p-skeleton>
  </div>
</ng-template>
