.container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 20px;
  width: 900px;
  margin-left: 20px;
  margin-top: 50px;
}

::ng-deep .p-paginator {
  background: transparent;
}
