<div class="container" *ngIf="!loader">
  <div
    *ngFor="
      let pokemon of pokemons
        | slice : startElement : startElement + rows
        | filterPokemon : (searchValue$ | async)
    "
    style="max-height: 145px"
  >
    <pokemon-card
      [pokemon]="pokemon"
      [activePokemon]="activePokemon"
      (clickFunc)="setIndex($event)"
      (click)="setActive(pokemon.name)"
    ></pokemon-card>
  </div>
</div>

<div class="container" *ngIf="loader">
  <skeleton *multipleRender="21"></skeleton>
</div>

<p-paginator
  (onPageChange)="paginate($event)"
  [rows]="21"
  [totalRecords]="pokemons.length"
></p-paginator>
