<p-card
  [header]="pokemon.name | upperCaseLetter"
  [style]="{ width: '17rem', 'margin-bottom': '7em', padding: '1rem' }"
  (click)="setIndex(pokemon.name)"
  [styleClass]="activePokemon === pokemon.name ? 'active' : ''"
  class="card"
>
  <ng-template pTemplate="header">
    <img
      alt="Card"
      [src]="pokemon.sprites.front_default"
      [style]="{ width: '100px' }"
      *ngIf="pokemon.sprites.front_default"
    />
    <img
      alt="Card"
      [src]="'https://js-pokedex-virid.vercel.app/src/no-pokemon-selected-image.png'"
      [style]="{ width: '70px' }"
      *ngIf="!pokemon.sprites.front_default"
    />
  </ng-template>
  <div class="container">
    <div *ngFor="let ability of pokemon.abilities | slice : 0 : 2">
      <p-chip
        [label]="ability.ability.name | upperCaseLetter"
        styleClass="mr-2 custom-color"
      ></p-chip>
    </div>
  </div>
</p-card>
