<p-card
  [header]="pokemon.name | upperCaseLetter"
  [style]="{ width: '17rem', padding: '1rem' }"
  (click)="setIndex(pokemon.name)"
  [styleClass]="activePokemon === pokemon.name ? 'active' : ''"
  class="card"
>
  <ng-template pTemplate="header">
    <img
      alt="Card"
      [src]="pokemon.sprites.front_default"
      [style]="{ width: '100px' }"
      *ngIf="pokemon.sprites.front_default"
    />
    <img
      alt="Card"
      [src]="'https://js-pokedex-virid.vercel.app/src/no-pokemon-selected-image.png'"
      [style]="{ width: '70px' }"
      *ngIf="!pokemon.sprites.front_default"
    />
  </ng-template>
  <div class="container">
    <div *ngFor="let type of pokemon.types | slice : 0 : 2">
      <p-chip
        [label]="type.type.name | upperCaseLetter"
        [style]="{
          'margin-right': '0px',
          background: pokemonTypes[type.type.name],
          color: 'white'
        }"
      ></p-chip>
    </div>
  </div>
</p-card>
