.card {
  .container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
}

:host ::ng-deep .p-card {
  &:hover {
    background: rgb(220, 250, 233);
    transform: scale(1.05);
    box-shadow: 0 2px 1px -1px rgb(88, 214, 141), 0 1px 1px 0 rgb(88, 214, 141),
      0 1px 3px 0 rgb(88, 214, 141), 0 2px 8px 0 rgb(88, 214, 141);
  }
}
img {
  margin-top: -70px;
  margin-left: 80px;
}

::ng-deep .p-card .p-card-content {
  padding: 0;
  margin: 0;
}
::ng-deep .p-card .p-card-title {
  margin: 0;
  padding: 0;
}

::ng-deep .p-card .p-card-body {
  margin: 0;
  padding: 0;
}

:ng-deep .p-card .p-component {
  margin: 0;
}

:host ::ng-deep .p-chip .p-chip-text {
  font-size: 14px;
}
:host ::ng-deep .p-card.active {
  background: rgb(220, 250, 233);
  box-shadow: 0 2px 1px -1px rgb(88, 214, 141), 0 1px 1px 0 rgb(88, 214, 141),
    0 1px 3px 0 rgb(88, 214, 141), 0 2px 8px 0 rgb(88, 214, 141);
}
