@use '../../color-variables.scss' as colorVar;

.card {
  .container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
  }
}

:host ::ng-deep .p-card {
  &:hover {
    background: colorVar.$background;
    box-shadow: 0 2px 1px -1px colorVar.$box-shadow, 0 1px 1px 0 colorVar.$box-shadow,
      0 1px 3px colorVar.$box-shadow, 0 2px 8px 0 colorVar.$box-shadow;
    transform: scale(1.05);
  }
}
img {
  margin-top: -70px;
}

::ng-deep .p-card .p-card-content {
  padding: 0;
  margin: 0;
}
::ng-deep .p-card .p-card-title {
  margin: 0;
  padding: 0;
}

::ng-deep .p-card .p-card-body {
  margin: 0;
  padding: 0;
}

:ng-deep .p-card .p-component {
  margin: 0;
}

:host ::ng-deep .p-chip .p-chip-text {
  font-size: 14px;
}
:host ::ng-deep .p-card.active {
  background: colorVar.$background;
  box-shadow: 0 2px 1px -1px colorVar.$box-shadow, 0 1px 1px 0 colorVar.$box-shadow,
    0 1px 3px colorVar.$box-shadow, 0 2px 8px 0 colorVar.$box-shadow;
}

:host ::ng-deep .p-card.p-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}
:host ::ng-deep .p-card-title {
  text-align: center;
}
