<p-card
  *ngIf="singlePokemon"
  [header]="singlePokemon.name | upperCaseLetter"
  [style]="{ width: '17rem', 'margin-bottom': '7em', padding: '1rem', height: '85vh' }"
  styleClass="card"
>
  <ng-template pTemplate="header">
    <carousel [picsArray]="picsArray"></carousel>
  </ng-template>
  <div class="container">

    <div class="abilities">
      <p-tag
        styleClass="mr-2"
        icon="pi pi-info-circle"
        severity="info"
        [value]="'Abilities:'"
      ></p-tag>
      <div
        *ngFor="let ability of singlePokemon.abilities |slice: 0 : 2"
        style="display: flex; align-items: center"
      >
        <div>
          <p-tag styleClass="mr-2" severity="success" [value]="ability.ability.name | upperCaseLetter"></p-tag>
        </div>
      </div>
    </div>

    <div class="experience">
      <p-tag styleClass="mr-2" icon="pi pi-info-circle" severity="info" [value]="'Exp:'"></p-tag>
      <p-tag
        styleClass="mr-2"
        severity="success"
        [value]="singlePokemon.base_experience?.toString() || 'no data'"
      ></p-tag>
    </div>

    <div style="display: flex; gap: 5px">
      <div class="stat">
        <h4 class="name">Height</h4>
        <div class="value">{{ singlePokemon.height + 'm' }}</div>
      </div>
      <div class="stat">
        <h4 class="name">Weight</h4>
        <div class="value">{{ singlePokemon.weight + 'kg' }}</div>
      </div>
    </div>

    <div style="display: flex; gap: 5px; flex-wrap: wrap; justify-content: center">
      <div *ngFor="let level of singlePokemon.stats">
        <div class="chip">
          <div class="chip_element">
            {{level.stat.name | slice: 0 : 3}}
          </div>
          <div class="chip_element">
            {{level.base_stat}}
          </div>
        </div>
      </div>
    </div>
  </div>
</p-card>
