.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  position: fixed;
  flex-direction: column;
  .abilities {
    display: flex;
    gap: 5px;
  }
  .experience {
    display: flex;
    gap: 10px;
  }
  .stat {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 50%;
    align-items: center;
    .value {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(241, 241, 241);
      font-size: 20px;
      padding: 3px 10px;
      border: 2px dashed rgb(88, 214, 141);
      border-radius: 5px;
    }
  }
}

:host ::ng-deep .p-card {
  background: rgb(220, 250, 233);
  transform: scale(1.05);
  box-shadow: 0 2px 1px -1px rgb(88, 214, 141), 0 1px 1px 0 rgb(88, 214, 141),
    0 1px 3px 0 rgb(88, 214, 141), 0 2px 8px 0 rgb(88, 214, 141);
}
