.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  .abilities {
    display: flex;
    gap: 5px;
  }
  .experience {
    display: flex;
    gap: 10px;
  }
  .stat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    align-items: center;

    .value {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(241, 241, 241);
      font-size: 20px;
      padding: 3px 10px;
      border: 1px solid rgb(88, 214, 141);
      border-radius: 5px;
        box-shadow: 0 2px 1px -1px rgb(88, 214, 141), 0 1px 1px 0 rgb(88, 214, 141),
    0 1px 3px 0 rgb(88, 214, 141), 0 2px 8px 0 rgb(88, 214, 141);
    }
  }
  .chip {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background:  rgb(220, 250, 233);
    justify-content: center;
    align-items: center;
    gap: 2.5px;
      box-shadow: 0 2px 1px -1px rgb(88, 214, 141), 0 1px 1px 0 rgb(88, 214, 141),
    0 1px 3px 0 rgb(88, 214, 141), 0 2px 8px 0 rgb(88, 214, 141);
    display: flex;
    .chip_element {
      width: 25px;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      color: white;
      border-radius: 50%;
    background: rgb(88, 214, 141);
    }
  }
}

:host ::ng-deep .p-card {
  background: rgb(220, 250, 233);
  transform: scale(1.05);
  box-shadow: 0 2px 1px -1px rgb(88, 214, 141), 0 1px 1px 0 rgb(88, 214, 141),
    0 1px 3px 0 rgb(88, 214, 141), 0 2px 8px 0 rgb(88, 214, 141);
}

:host ::ng-deep .p-card.card {
  position: fixed;

}
