@use '../../../../../libs/color-variables.scss' as colorVar;
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  box-shadow: 1px 1px 1px 1px colorVar.$box-shadow;
}
