@use '../../../../../../libs//color-variables.scss' as colorVar;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 10px;
  top: 0;
  background: colorVar.$background;
}

.p-card .p-card-body {
  padding: 0;
  display: flex;
  gap: 5px;
}

.p-card .p-card-title {
  font-size: 16px;
}
.p-card .p-card-content {
  padding: 0;
}

.p-card {
  &:hover {
    background: colorVar.$background;
    box-shadow: 0 2px 1px -1px colorVar.$box-shadow,
      0 1px 1px 0 colorVar.$box-shadow, 0 1px 3px colorVar.$box-shadow,
      0 2px 8px 0 colorVar.$box-shadow;
    transform: scale(1.05);
  }
}
