@use '../../../../../../libs/color-variables.scss' as colorVar;

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  .abilities {
    display: flex;
    gap: 5px;
  }
  .experience {
    display: flex;
    gap: 10px;
  }
  .stat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    align-items: center;

    .value {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(241, 241, 241);
      font-size: 20px;
      padding: 3px 10px;
      border: 1px solid colorVar.$box-shadow;
      border-radius: 5px;
      box-shadow: 0 2px 1px -1px colorVar.$box-shadow,
        0 1px 1px 0 colorVar.$box-shadow, 0 1px 3px colorVar.$box-shadow,
        0 2px 8px 0 colorVar.$box-shadow;
    }
  }
  .chip {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: colorVar.$background;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
    box-shadow: 0 2px 1px -1px colorVar.$box-shadow,
      0 1px 1px 0 colorVar.$box-shadow, 0 1px 3px colorVar.$box-shadow,
      0 2px 8px 0 colorVar.$box-shadow;
    display: flex;
    .chip_element {
      width: 25px;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      color: white;
      border-radius: 50%;
      background: colorVar.$box-shadow;
    }
  }
}

:host ::ng-deep .p-card {
  background: colorVar.$background;
  box-shadow: 0 2px 1px -1px colorVar.$box-shadow,
    0 1px 1px 0 colorVar.$box-shadow, 0 1px 3px colorVar.$box-shadow,
    0 2px 8px 0 colorVar.$box-shadow;
  transform: scale(1.05);
}

:host ::ng-deep .p-card.card {
  position: fixed;
}
